.hide {
    display: none;
}

ul {
    list-style-type: none;
    text-align: center;
} 

p {
    text-align: center;
    font-weight: bold;

}

button {
    background-color: #4CAF50; 
    border-bottom: 80px;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
  }

button:hover {
    background-color: #283
  }